* {
  margin: auto;
  padding: auto;
}

h1 {
  text-align: center;
  padding-block: 1rem;
  text-shadow: 1px 2px 3px #808080;
}

.input-container {
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.input-container label[for="file-input"] {
  width: 100%;
  text-align: left;
}
.input-container #file-input {
  width: 100%;
  text-align: left;
}

.canvas-container {
  display: none;
}

.none {
  display: none;
}

#result-preview {
  width: 50%;
  padding-block: 1rem;
  text-align: center;
}

#result-preview #result-preview-image {
  width: 100%;
}

#loading-container {
  text-align: center;
  padding-block: 1rem;
}

.result-controller {
  display: flex;
}

#result-preview-download {
  flex: 5;
}

#prev-button {
  flex: 1;
}

#next-button {
  flex: 1;
}
